// 颜色定义规范
$color-background-current: #222;
$color-background-dark: rgba(0, 0, 0, 0.3);
$color-highlight-background: #333;
$color-dialog-background: #666;

$color-theme-yellow: #ffcd32;
$color-theme-dark: rgba(255, 205, 49, 0.5);
$color-sub-theme-red: #d93f30;

$color-text-white: #fff;
$color-text-dark: rgb(255, 255, 255, 0.3);
$color-text-light: rgb(255, 255, 255, 0.5);
$color-text-lighter: rgb(255, 255, 255, 0.8);

// 字体定义规范
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 22px;
